*{
  margin: 0;
  padding: 0;
}

header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  border-bottom: 1px solid black;
  width: 100%;
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 2;
  justify-content: space-between;
}

nav{
  display: flex;
  padding-right: 40px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

nav span a{
  color: black;
}

.logo{
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo span{
  padding-left: 30px;
}
